/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Syne:wght@700;800&family=DM+Sans:ital,wght@0,400;0,500;1,700&family=DM+Mono:wght@400;500&display=swap');

/* Tailwind base */
@import "tailwindcss";

/* Define custom fonts (Tailwind v4 way) */
@theme {
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --font-syne: "Syne", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

